@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600");
body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

h1 {
  color: #f1f3f4;
  font-size: 1.5em;
  line-height: 130%;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 25px;
}

.bold {
  font-weight: 600;
}

h2 {
  font-size: 1.2em;
  line-height: 180%;
  font-weight: 300;
  color: #b3b3b3;
}

h3 {
  color: #374851;
  text-align: center;
  font-size: 1.2em;
  line-height: 120%;
  margin: 10px 0;
  font-weight: 400;
}

h4 {
  text-align: left;
  text-transform: uppercase;
  line-height: 150%;
  font-size: 1.2em;
  color: #455b64;
}

p {
  font-size: 1em;
  text-align: center;
  color: #8e8e8e;
  line-height: 150%;
  margin: 0;
}

nav .tel {
  font-size: 1em;
  color: #f1f3f4;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 20px;
  margin-right: 15px;
  letter-spacing: 1px;
}

nav .contact-us {
  margin: 0 10px;
  text-align: center;
  border: 1px solid #f1f3f4;
  padding: 5px 20px;
  color: #f1f3f4;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 300;
  -webkit-transition: 0.15s ease-Out;
  transition: 0.15s ease-Out;
}
nav .contact-us:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.line {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #8e8e8e;
  border-radius: 50px;
}

.line.blue-line {
  background-color: #455b64;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  padding: 30px 5% 30px 5%;
  background-color: #374851;
}

nav img {
  width: 200px;
}

.contact-info {
  display: none;
}

.header-container {
  position: relative;
}

header {
  width: 90%;
  padding: 20px 5% 75px 5%;
  background-color: #374851;
}
header:after {
  display: block;
  content: "";
  position: absolute;
  bottom: -50px;
  left: 0;
  background-color: inherit;
  width: 100%;
  height: 400px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: skewY(-10deg);
          transform: skewY(-10deg);
  z-index: -1;
}
header article {
  width: 100%;
}
header .header-art {
  display: block;
  width: 100%;
}
header .header-art img {
  display: none;
}

.client-steps {
  display: block;
  width: 90%;
  padding: 100px 5% 150px 5%;
}

.step-block {
  display: block;
  width: 100%;
  margin: 50px 0;
}
.step-block img {
  display: block;
  width: 100px;
  margin: 20px auto;
  box-shadow: 0 0 20px rgba(69, 90, 100, 0.1);
  border-radius: 50%;
}
.step-block a {
  display: block;
  text-align: center;
  color: #44a8de;
  padding: 2.5px 10px;
  margin: 2.5px 0;
}

.package-pricing-information-container {
  position: relative;
}

.package-pricing-information {
  display: block;
  width: 90%;
  padding: 50px 5%;
  background-color: #f1f3f4;
}
.package-pricing-information:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: inherit;
  width: 200%;
  height: 400px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: skewY(-10deg);
          transform: skewY(-10deg);
  z-index: -1;
}

#price-block-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0;
  width: 100%;
}
#price-block-wrapper ul li {
  list-style-type: circle;
  margin: 4px 0;
  font-size: 1sem;
  line-height: 150%;
  color: rgba(86, 111, 123, 0.8);
}
#price-block-wrapper ul li ul {
  padding-left: 10px;
}
#price-block-wrapper ul li ul li {
  list-style-type: none;
}
#price-block-wrapper ul li ul li:before {
  content: "+";
  margin-right: 10px;
}

.price-blocks {
  display: block;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(69, 90, 100, 0.3);
  margin: 20px 0;
  padding-bottom: 30px;
}
.price-blocks h3 {
  font-size: 0.8em;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 10px 0 30px 0;
}
.price-blocks h4 {
  text-align: left;
  padding: 0 25px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em;
}

.price-title-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  padding: 0 5%;
  height: 100px;
  border-radius: 10px 10px 0 0;
}
.price-title-flex-container h1 {
  color: #fff;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0;
}
.price-title-flex-container h2 {
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-align: center;
  line-height: 120%;
  margin-top: 5px;
}

.price-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0 10px 0;
}
.price-amount p,
.price-amount h2,
.price-amount h3 {
  padding: 0;
  margin: 0;
  line-height: 100%;
}
.price-amount p {
  font-size: 1em;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 5px;
}
.price-amount h2 {
  font-size: 3em;
}
.price-amount h3 {
  font-size: 0.7em;
  text-transform: uppercase;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 7px;
  font-weight: 400;
}

#marketing-pricing .price-title-flex-container {
  background-color: #2666f0;
}
#marketing-pricing .price-amount h2,
#marketing-pricing h3,
#marketing-pricing p {
  color: #2666f0;
}
#marketing-pricing h4 {
  color: #2666f0;
}

#reviews-pricing .price-title-flex-container {
  background-color: #4baef8;
}
#reviews-pricing .price-amount h2,
#reviews-pricing h3,
#reviews-pricing p {
  color: #4baef8;
}
#reviews-pricing h4 {
  color: #4baef8;
}

#web-pricing .price-title-flex-container {
  background-color: #ee6337;
}
#web-pricing .price-amount h2,
#web-pricing h3,
#web-pricing p {
  color: #ee6337;
}
#web-pricing h4 {
  color: #ee6337;
}

.client-testimonial {
  width: 90%;
  padding: 50px 5% 100px 5%;
  background-color: #fff;
}
.client-testimonial .testimony-text {
  text-align: left;
  margin: 50px 0 25px 0;
}
.client-testimonial p {
  text-align: left;
}
.client-testimonial img {
  margin: 20px 0 10px 0;
  width: 80%;
}

footer {
  width: 90%;
  padding: 30px 5%;
  background-color: #253237;
}
footer .web-link {
  display: none;
}
footer a {
  font-weight: 300;
  text-transform: uppercase;
  display: block;
  color: #8e8e8e;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
}

@media screen and (min-width: 560px) {
  h3 {
    text-align: left;
  }

  p {
    text-align: left;
  }

  a.inline-links {
    text-align: left;
    padding: 5px 0;
  }

  header:after {
    bottom: -70px;
    -webkit-transform: skewY(-10deg);
            transform: skewY(-10deg);
  }

  .client-steps {
    padding: 150px 5% 150px 5%;
  }

  .step-block {
    width: 80%;
  }
  .step-block img {
    display: block;
    width: 100px;
    margin: 20px 0;
  }
}
@media screen and (min-width: 700px) {
  .step-block {
    width: 60%;
  }
}
@media screen and (min-width: 800px) {
  h4 {
    font-size: 1.4em;
    margin-bottom: 15px;
  }

  nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  nav img {
    width: 200px;
  }

  .contact-info {
    display: block;
  }

  header:after {
    bottom: -100px;
    -webkit-transform: skewY(-5deg);
            transform: skewY(-5deg);
  }
  header article {
    width: 80%;
  }

  .client-steps {
    padding: 150px 5% 100px 5%;
  }

  .package-pricing-information:before {
    -webkit-transform: skewY(-5deg);
            transform: skewY(-5deg);
  }

  .price-blocks {
    width: 60%;
  }

  .client-testimonial img {
    width: 50%;
  }

  footer {
    display: block;
  }
  footer .footer-links a {
    display: inline-block;
    padding: 5px;
  }
  footer .footer-links a.web-link {
    display: inline-block;
    margin-right: 50px;
    text-transform: none;
  }
}
@media screen and (min-width: 1000px) {
  h1 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  header article {
    width: 70%;
  }
  header .header-art {
    display: block;
    width: 100%;
  }
  header .header-art img {
    display: block;
    width: 75%;
    position: absolute;
    left: 4%;
    margin-top: 25px;
  }

  .client-steps {
    padding: 500px 5% 200px 5%;
  }

  .step-block {
    width: 50%;
  }
  .step-block img {
    width: 60px;
    margin-bottom: 15px;
  }

  .client-testimonial .testimony-text {
    width: 50%;
  }
  .client-testimonial img {
    width: 400px;
  }
}
@media screen and (min-width: 1100px) {
  .client-steps {
    padding: 550px 5% 200px 5%;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 1.5em;
    line-height: 150%;
  }

  h4 {
    font-size: 1.8em;
    width: 45%;
  }

  header article {
    width: 50%;
  }
  header .header-art img {
    width: 55%;
    margin-top: 50px;
  }

  .client-steps {
    padding: 500px 5% 200px 5%;
  }

  .step-block {
    width: 40%;
  }
  .step-block img {
    width: 60px;
  }

  #price-block-wrapper {
    width: 50%;
  }
  #price-block-wrapper ul {
    padding-left: 50px;
  }
  #price-block-wrapper ul li {
    font-weight: 300;
    line-height: 120%;
    font-size: .9em;
  }
  #price-block-wrapper ul li ul li {
    font-size: 1em;
  }

  .price-blocks {
    width: 85%;
  }
  .price-blocks h4 {
    width: 80%;
  }
}
@media screen and (min-width: 1300px) {
  header article {
    width: 40%;
  }
  header .header-art img {
    width: 55%;
  }

  .client-steps {
    padding: 500px 5% 200px 5%;
  }
}
@media screen and (min-width: 1400px) {
  .client-steps {
    width: 85%;
    padding: 550px 5% 250px 7.5%;
  }

  .step-block {
    width: 40%;
    margin: 50px 0;
  }

  .price-blocks {
    width: 70%;
  }
}
@media screen and (min-width: 1500px) {
  h1 {
    font-size: 2em;
  }

  p {
    font-size: 1.2em;
    font-weight: 300;
  }

  header {
    padding: 75px 5% 150px 5%;
  }
  header article {
    width: 45%;
  }

  .step-block {
    width: 30%;
  }

  #price-block-wrapper {
    width: 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    padding-bottom: 300px;
  }

  .price-blocks {
    width: 49%;
    margin-bottom: 0;
  }

  #web-pricing {
    position: absolute;
    width: 49%;
    right: 0;
    bottom: 60px;
  }
}
@media screen and (min-width: 1700px) {
  .client-steps {
    padding: 600px 5% 250px 7.5%;
  }

  #price-block-wrapper ul {
    padding-left: 60px;
  }
}
@media screen and (min-width: 1800px) {
  .client-steps {
    padding: 650px 5% 250px 7.5%;
  }
}
@media screen and (min-width: 1900px) {
  h4 {
    width: 25%;
  }

  nav {
    width: 80%;
    padding: 30px 10%;
  }

  header {
    width: 80%;
    padding: 75px 10% 150px 10%;
  }
  header article {
    width: 40%;
  }
  header .header-art img {
    width: 45%;
    left: 9%;
  }

  .client-steps {
    width: 80%;
    padding: 550px 10% 250px 10%;
  }

  .package-pricing-information {
    width: 80%;
    padding: 50px 10%;
  }

  .client-testimonial {
    width: 80%;
    padding: 50px 10% 100px 10%;
  }

  footer {
    width: 80%;
    padding: 30px 10%;
  }
}
@media screen and (min-width: 2000px) {
  #price-block-wrapper {
    width: 50%;
  }
}
@media screen and (min-width: 2150px) {
  .client-steps {
    padding: 600px 10% 250px 10%;
  }
}
@media screen and (min-width: 2300px) {
  nav {
    width: 70%;
    padding: 30px 15%;
  }

  header {
    width: 70%;
    padding: 75px 15% 150px 15%;
  }
  header:after {
    bottom: -150px;
    -webkit-transform: skewY(-5deg);
            transform: skewY(-5deg);
  }
  header article {
    width: 35%;
  }
  header .header-art img {
    width: 40%;
    left: 14%;
  }

  .client-steps {
    width: 70%;
    padding: 650px 15% 250px 15%;
  }

  .package-pricing-information {
    width: 70%;
    padding: 50px 15%;
  }

  .client-testimonial {
    width: 70%;
    padding: 50px 15% 100px 15%;
  }

  footer {
    width: 70%;
    padding: 30px 15%;
  }
}
@media screen and (min-width: 2500px) {
  #price-block-wrapper {
    width: 45%;
  }
}
