nav
  .logo
    a(target="_blank" href="https://www.legworkprm.com")
      img(src="https://github.com/atloomer/legwork-images/blob/master/LwLogoRed.png?raw=true")
  .contact-info
    a.tel(href="tel:877-311-4690") Toll Free 877.311.4690
    a.contact-us(target="_blank" href="https://www.legworkprm.com/contact/") Contact Us
.header-container
  header
    article
      h1 Upgrade your legwork services today and 
        span.bold don't pay until march, 2018!
      span.line
      h2 To thank you for your business, and to provide you with the tools you need to grow your practice, we’d like to offer upgrading your Legwork services…and we won’t change your monthly billing until March, 2018!
    .header-art
      img(src="https://github.com/atloomer/legwork-upsell-assets/blob/master/mocksite-with-reviews-lw-logo-01.png?raw=true")
.client-steps
  .step-block.chat
    img(src="https://github.com/atloomer/legwork-upsell-assets/blob/master/chat-icon-final.png?raw=true")
    h3 Chat with us
    p Call, email, or schedule a time to chat about our services with a Legwork team member.
    a.inline-links(href="tel:877-311-4690") 877.311.4690 ext 2
    a.inline-links(target="_blank" href="https://app.hubspot.com/meetings/jeff17/legwork-30-minute-demo") Book a meeting
  .step-block.package
    img(src="https://github.com/atloomer/legwork-upsell-assets/blob/master/checkmark-icon-final.png?raw=true")
    h3 Select a package
    p Our team will help you select the package that works best and we’ll get your new services up and running for you.
  .step-block.payment
    img(src="https://github.com/atloomer/legwork-upsell-assets/blob/master/continue-icon-final.png?raw=true")
    h3 Keep paying $99 / mo until March, 2018
    p Keep paying your current subscription pricing until March 1, 2018.  Then, regular subscription pricing will go into effect.
.package-pricing-information-container
  .package-pricing-information
    h4 Choose the package that works best for you
    span.line.blue-line
    #price-block-wrapper
      #marketing-pricing.price-blocks
        .price-title-flex-container
          h1 PRM Marketing
          h2 All PRM Software Features Plus
        .price-amount
          p $
          h2 299
          h3 Month
        h3 No Setup Fee
        h4 All PRM Software Features Plus
        ul
          li Mobile Number Validation
          li Customizable Surveys
          li Marketing Insights Reporting
          li Automated Referral Program
          li Automated Monthly Email Newsletters
          li Automated Monthly Social Media
          li Posting
          li Automated Services/Treatment
            ul
              li Workflow
              li Use-Your-Insurance
              li Unscheduled Treatment
              li Whitening
              li Cosmetics
              li Straightening
              li Implants
              li Sleep Apnea
              li Fear Reduction
          li Patient Micro-Site
          li Website Appointment Booking
          li Website Lead Workflows
      #reviews-pricing.price-blocks
        .price-title-flex-container
          h1 PRM Reviews
          h2 All PRM software &amp; PRM Marketing features plus
        .price-amount
          p $
          h2 349
          h3 Month
        h3 No Setup Fee
        h4 All PRM software &amp; PRM Marketing features plus
        ul
          li Automated SMS/Email Requests
          li Google, Facebook, &amp; More Reviews
          li Email Review Alert Notifications
          li Reviews Dashboard
          li Reviews Syndication
      #web-pricing.price-blocks
        .price-title-flex-container
          h1 PRM WEBSITE + SEO
          h2 ALL PRM SOFTWARE, PRM MARKETING, &amp; PRM REVIEWS FEATURES PLUS
        .price-amount
          p $
          h2 549
          h3 Month
        h3 No Setup Fee
        h4 ALL PRM SOFTWARE, PRM MARKETING, &amp; PRM REVIEWS FEATURES PLUS
        ul
          li Services Video Content
          li Monthly Blog Posting
          li Book Appointment Form
          li Lead Capture Forms
          li Follow-up Marketing Sequences
          li Business Listing Audit
          li On-Going Updates
          li Root Directory Access
.client-testimonial
  h4 We love our dentists<br/>Thankfully the feeling is mutual
  span.line.blue-line
  p.testimony-text Legwork has been an essential part of our recent growth. Not only have they helped us more than double our new patient numbers, their platform has given us the tools to better communicate and interact with our patients. We wouldn't work without them!
  img(src="https://github.com/atloomer/legwork-upsell-assets/blob/master/joseph-testimonial-01.jpg?raw=true")
  p Joseph Barker DMD
footer
  .footer-links
    a.web-link(target="_blank" href="https://www.legworkprm.com/") LegworkPRM.com
    a(href="tel:877-311-4690") Toll Free 877.311.4690
    